.scale-view-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.scale-view-container__content {
  position: relative;
  overflow: hidden;
  background-size: 100%;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}
